.App {
  font-family: "roboto";
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players {
  width: 100%;
  padding: 30px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

  .player {
    margin: 10px;
    padding: 20px;
  }
}

.phases {
  font-size: 0.9em;
  font-family: monospace;
  display: flex;

  > div {
    margin: 0 5px;
    padding: 5px;
    background: #eee;
  }

  .active{
    background: lightpink;
  }
}

.box {
  box-shadow: 1px 2px 3px 3px lightgray;
  border-radius: 3px;
}

.label {
  background: hotpink;
  color: white;
  border-radius: 5px;
  font-size: 0.9em;
  margin: 0 2px;
  padding: 1px;
}

.card {
  padding: 10px 3px;
}

.table1 {
  font-size: 0.9em;
  th {
    background: #eee;
  }
}